.card {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  width: 200px;
}

.card__image {
  height: 100px;
  background-color: gray;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;

  .card__title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .card__description {
    text-align: justify;
  }

  .card__price {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  }

  .card__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}

